@import "tailwindcss";

@theme {
  --color-primary-50: #0090e3;
  --color-primary-100: #0084cf;
  --color-primary-200: #0077bc;
  --color-primary-300: #006ba8;
  --color-primary-400: #005e95;
  --color-primary-500: #005281;
  --color-primary-600: #00466d;
  --color-primary-700: #00395a;
  --color-primary-800: #002d46;
  --color-primary-900: #002033;
  --color-primary-950: #00141f;

    --transparent-white: rgba(255, 255, 255, 0.75);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-red_hat_text);
  --font-mono: var(--font-red_hat_text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-red_hat_text), Arial, Helvetica, sans-serif;
}

{/* ------------------------ Slick  ------------------------*/}

.slick-slide {
  padding: 4px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  z-index: 50;
  display: flex !important;
  justify-items: center;
  align-items: center;
  background: var(--color-primary-300);
  width: 48px;
  height: 48px;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  background: var(--color-primary-500);
}

.slick-arrow.slick-prev svg,
.slick-arrow.slick-next svg {
  color: white;
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.slick-arrow.slick-prev.slick-disabled,
.slick-arrow.slick-next.slick-disabled {
  opacity: 0.25;
}

.slick-arrow.slick-prev.slick-disabled:hover,
.slick-arrow.slick-next.slick-disabled:hover {
  background: var(--color-primary-300);
  cursor: not-allowed;
}
.slick-prev:before, .slick-next:before {
  display: none;
}
