@import "tailwindcss";

@theme {
  --color-primary-50: #0090e3;
  --color-primary-100: #0084cf;
  --color-primary-200: #0077bc;
  --color-primary-300: #006ba8;
  --color-primary-400: #005e95;
  --color-primary-500: #005281;
  --color-primary-600: #00466d;
  --color-primary-700: #00395a;
  --color-primary-800: #002d46;
  --color-primary-900: #002033;
  --color-primary-950: #00141f;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-red_hat_text);
  --font-mono: var(--font-red_hat_text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-red_hat_text), Arial, Helvetica, sans-serif;
}

{/* ------------------------ Slick Arrows  ------------------------*/}

.slick-arrow{
  z-index: 50;
}

.slick-prev:before, .slick-next:before {
  color: #709EB9 !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  font-size: 50px !important;
}

.slick-next {
  right: 0px !important;
}
